MSH|^~\&|{sendingApp}|{sendingFacility}|{receivingApplication}||{dateMessage}||SIU^S12|{messageId}|P|2.5.1
SCH|{placerAppointmentId}^{placerAppointmentId}|{fillerAppointmentId}^{fillerAppointmentId}|||{placerAppointmentId}|{resourceCode}^{resourceDescription}|{resourceExam}|{resourceCode}|{resourceDuration}|m|^^{resourceDuration}^{dateStartAppointment}^{dateEndAppointment}|||||^{fillerPersonSurname}^{fillerPersonName}^||||^{enterPersonSurname}^{enterPersonName}^|||||Scheduled
PID|||{patientId}^^^{assigningAuthority}^{patientIdIdentifier}~{patientNHC}^^^{sendingFacility}^PI||{surname1} {surname2}^{name}^^^||{birthDate}|{sex}|||{streetAddress} {restAddress}^^{cityAddress}^{region}^{postalCode}^{country}||{cellPhone}^PRN^^{personalEmail}|||||||||||||||||N|
PV1|1|O|||||{attendingDoctorCias}^{attendingDoctorSurname1} {attendingDoctorSurname2}^{attendingDoctorName}^^MD^^^^|{referringDoctorCias}^{referringDoctorSurname1} {referringDoctorSurname2}^{referringDoctorName}^^MD^^^^||||||||||||||||||||||||||||||||||||||||||{visitId}||
RGS|1|A
AIS|1|A|{resourceService}^{resourceServiceDescription}|{dateStartAppointment}|||{resourceDuration}|m^Minutes||Scheduled
AIL|1|A|{resourceCode}^^^{sendingFacilityName}|^{resourceLocation}||{dateStartAppointment}|||{resourceDuration}|m^Minutes||Scheduled
AIP|1|A|1^{attendingDoctorSurname1} {attendingDoctorSurname2}^{attendingDoctorName}^A^MD^^^^|D^{referringDoctorSurname1}, {referringDoctorName}||{dateStartAppointment}|||{resourceDuration}|m^Minutes||Scheduled