<!DOCTYPE html>
<html lang="en" theme="dark" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages Generator</title>
    <script src="files/js/jquery-3.6.0.min.js"></script>
    <script src="files/js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>

<body class="bg-light">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Messages Generator v.1.0</span>
        </div>
    </nav>
    <br/>
    <div class="container" style="height: 30rem;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Patients</h5>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-2">
                        <label>Total patients:</label>
                    </div>
                    <div class="col-1">
                        <input type="text" id="numPatients" class="form-control">
                    </div>
                    <div class="col-6"></div>                
                </div>
                <br/>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-9">
                        <button type="button" id="generatePatientsButton" class="btn btn-primary">Generate patients</button>
                        <button type="button" class="btn btn-primary" id="downloadPatientsButton" disabled>Download patients</button>
                    </div>
                </div>
            </div>
        </div>            
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Clinicians</h5>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-2">
                        <label for="numClinicians">Total clinicians</label>
                    </div>
                    <div class="col-1">
                        <input type="text" id="numClinicians" class="form-control">
                    </div>
                    <div class="col-6"></div>
                </div>
                <br/>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-9">
                        <button type="button" id="generateCliniciansButton" class="btn btn-primary">Generate clinicians</button>
                        <button type="button" class="btn btn-primary" id="downloadCliniciansButton" disabled>Download clinicians</button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Messages</h5>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-2">
                        <label>Total messages:</label>
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="text" id="numMessages">
                    </div>
                    <div class="col-2">
                        <label>Messages type:</label>
                    </div>
                    <div class="col-2">
                        <select id="typeEvent" class="form-control" name="typeEvent">
                            <option value="a28" selected>ADT^A28</option>
                            <option value="a01">ADT^A01</option>
                            <option value="a08">ADT^A08</option>
                            <option value="r01">ORU^R01</option>
                            <option value="s12">SIU^S12</option>
                        </select>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br/>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-2">
                        <label>Assigning Authority</label>
                    </div>
                    <div class="col-2">
                        <select id="assigningAuthority" class="form-control" name="assigningAuthority" label="hola">
                            <option value="HULP" selected>Hospital Univ La Paz</option>
                            <option value="CHGM">Gregorio Marañón</option>
                            <option value="H12OCT">Hospital 12 de Octubre</option>
                            <option value="HCSC">H. Clínico San Carlos</option>
                            <option value="OTHER">Otro Centro</option>
                        </select>
                    </div>
                    <div class="col-2">                
                        <label>ID Type Identifier</label>
                    </div>
                    <div class="col-2">
                        <select id="patIdTypeIdentifier" class="form-control" name="patIdTypeIdentifier">
                            <option value="SSN" selected>Social Security Number (SSN)</option>
                            <option value="SN" selected>Subscriber Number (SN)</option>
                            <option value="NI">National ID - NIF (NI)</option>
                        </select>
                    </div> 
                    <div class="col-1"></div>
                </div>    
                <br/>    
                <div class="row text-center align-items-center justify-content-center">                        
                    <div class="col-2">
                        <label>ID Assigning Facility</label>
                    </div>
                    <div class="col-2">
                        <select id="patIdAssigningFacility" class="form-control" name="patIdAssigningFacility">
                            <option value="SERMAS" selected>Servicio Madrileño (SERMAS)</option>
                            <option value="SEGSOC">Seguridad Social (SEGSOC)</option>
                            <option value="MI">Ministerio del Interior (MI)</option>
                            <option value="SESPA">Servicio Asturiano (SESPA)</option>
                            <option value="SAS">Servicio Andaluz (SAS)</option>
                            <option value="SCS">Servicio Canario (SCS)</option>
                            <option value="CATS">Servicio Catalán (CATS)</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>MRN</label>
                    </div>
                    <div class="col-2">
                        <select id="patNHC" class="form-control" name="patNHC">
                            <option value="1" selected>MRN Random 1</option>
                            <option value="2">MRN Random 2</option>
                            <option value="3">MRN Random 3</option>
                            <option value="4">MRN Random 4</option>
                            <option value="5">MRN Random 5</option>
                            <option value="6">MRN Random 6</option>
                            <option value="7">MRN Random 7</option>
                            <option value="8">MRN Random 8</option>
                        </select>
                    </div>
                    <div class="col-1"></div> 
                </div>
                <br/>
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-9">
                        <button type="button" id="generateMessagesButton" class="btn btn-primary">Generate messages</button>
                        <button type="button" class="btn btn-primary" id="downloadMessagesButton" disabled>Download messages</button>
                    </div>
                </div>
            </div>
        </div>        
        
        <div class="row h-75 mt-3 mb-3">
            <div class="col h-100">
                <div class="card w-75 h-100 mx-auto bg-dark">
                    <div class="card-body h-100 overflow-auto" id="console">                        
                        <span class="blinking-cursor">_</span>
                    </div>
                </div>
            </div>            
        </div>        
    </div>       
</body>

</html>