<!DOCTYPE html>
<html lang="en" theme="dark" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages Generator</title>
    <script src="files/js/jquery-3.6.0.min.js"></script>
    <script src="files/js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="files/images/InterSystems_IRIS.png">
            <a class="navbar-brand" href="#">Messages Generator v.1.0</a>
        </div>
    </nav>
    <div class="container" style="height: 30rem;">
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-2">
                <label>Número de mensajes:</label>
            </div>
            <div class="col-1">
                <input class="form-control" type="text" id="numMessages">
            </div>
            <div class="col-2">
                <select id="typeEvent" class="form-control" name="typeEvent">
                    <option value="a28" selected>ADT^A28</option>
                    <option value="a08">ADT^A08</option>
                    <option value="r01">ORU^R01</option>
                    <option value="s12">SIU^S12</option>
                </select>
            </div>
            <div class="col-4">
                <button type="button" id="generateMessagesButton" class="btn btn-primary">Generar mensajes</button>
                <button type="button" class="btn btn-primary" id="downloadMessagesButton" disabled>Descargar mensajes</button>
            </div>
            </div>
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-2">
                <label>Assigning Authority</label>
                <select id="assigningAuthority" class="form-control" name="assigningAuthority" label="hola">
                    <option value="HULP" selected>Hospital Univ La Paz</option>
                    <option value="CHGM">Gregorio Marañón</option>
                    <option value="H12OCT">Hospital 12 de Octubre</option>
                    <option value="HCSC">H. Clínico San Carlos</option>
                    <option value="OTHER">Otro Centro</option>
                </select>
            </div>
            <div class="col-2">
                <label>ID Type Identifier</label>
                <select id="patIdTypeIdentifier" class="form-control" name="patIdTypeIdentifier">
                    <option value="SSN" selected>Social Security Number (SSN)</option>
                    <option value="SN" selected>Subscriber Number (SN)</option>
                    <option value="NI">National ID - NIF (NI)</option>
                </select>
            </div>
            <div class="col-2">
                <label>ID Assigning Facility</label>
                <select id="patIdAssigningFacility" class="form-control" name="patIdAssigningFacility">
                    <option value="SERMAS" selected>Servicio Madrileño (SERMAS)</option>
                    <option value="SEGSOC">Seguridad Social (SEGSOC)</option>
                    <option value="MI">Ministerio del Interior (MI)</option>
                    <option value="SESPA">Servicio Asturiano (SESPA)</option>
                    <option value="SAS">Servicio Andaluz (SAS)</option>
                    <option value="SCS">Servicio Canario (SCS)</option>
                    <option value="CATS">Servicio Catalán (CATS)</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-2">
                <label>Número de pacientes:</label>
            </div>
            <div class="col-1">
                <input type="text" id="numPatients" class="form-control">
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <button type="button" id="generatePatientsButton" class="btn btn-primary">Generar pacientes</button>
                <button type="button" class="btn btn-primary" id="downloadPatientsButton" disabled>Descargar pacientes</button>
            </div>
        </div>
        <br/>
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-2">
                <label for="numClinicians">Número de médicos</label>
            </div>
            <div class="col-1">
                <input type="text" id="numClinicians" class="form-control">
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <button type="button" id="generateCliniciansButton" class="btn btn-primary">Generar médicos</button>
                <button type="button" class="btn btn-primary" id="downloadCliniciansButton" disabled>Descargar médicos</button>
            </div>
        </div>
        <div class="row h-75 mt-3 mb-3">
            <div class="col h-100">
                <div class="card w-75 h-100 mx-auto bg-dark">
                    <div class="card-body h-100 overflow-auto" id="console">                        
                        <span class="blinking-cursor">_</span>
                    </div>
                </div>
            </div>            
        </div>        
    </div>       
</body>

</html>