MSH|^~\&|{sendingApp}|{sendingFacility}|{receivingApplication}||{dateMessage}||ADT^A01|{messageId}|P|2.5.1
EVN|A01|{dateMessage}
PID|||{patientId}^^^{assigningAuthority}^{patientIdIdentifier}~{patientNHC}^^^{sendingFacility}^PI||{surname1} {surname2}^{name}^^^||{birthDate}|{sex}|||{streetAddress} {restAddress}^^{cityAddress}^{region}^{postalCode}^{country}||{cellPhone}^PRN^^{personalEmail}|||||||||||||||||N|
PV1||N
DG1|1|||{diagnosis}|{dateMessage}|A||